{% extends 'base.html' %}
{% block content %}

<section class="section">
  <div class="container">
    <h1 class="title">Working out Smart!</h1>
    <p class="subtitle">
      My first website with <strong>Bulma</strong>!
    </p>

    <section class="hero is-medium is-light">
      <div class="hero-body">
        <p class="title">
          Large hero
        </p>
        <p class="subtitle">
          SWorkout is a new platform to learn how to get in better shape. With custom-made programs and the option to change details on existing programs. SWorkout is a cutting edge mobile- and web-platform to become a strogn er and better you! Set your goals, identify your goals, and have the support from your entire community, without spending hours of free time at the gym! Save Sworkout for a quick reminder later and download now!

          Unlimited Daily Workouts for Android is $4.99.

          4. Direct Link

          We all have some
        </p>

        <section class="section">
          <h1 class="title">Images</h1>
          <div class="is-flex is-align-content-center p-3">
            <figure class="image is-128x128 is-3by1 m-3">
              <img src="{{ url_for('static', path='/images/workout-frontpage.jpg') }}"/>
            </figure>
            <figure class="image is-128x128 is-3by1 m-3">
              <img src="{{ url_for('static', path='/images/workout-2.jpg') }}"/>
            </figure>
            <figure class="image is-128x128 is-3by1 m-3">
              <img src="{{ url_for('static', path='/images/workout-3.jpg') }}"/>
            </figure>
          </div>
        </section>

      </div>
    </section>

    <p>

    </p>

  </div>
</section>

{% endblock %}